#dojonary_container {
    width: 1200px;
    height: 90px;
    background-color: rgb(176, 176, 176);
    display: flex;
    margin-left: 80px;
}

.dojonary_word {
font-size: 45px;
margin-left: 20px;
margin-top: 15px;
}

.login_btn {
    margin-left: 290px;
    margin-top: 25px;
}

.login_class {
    height: 35px;
    width: 80px;
    box-shadow: 4px 4px 4px  black;
    background-color: rgb(72, 72, 244);
    color: whitesmoke;
    font-size: larger;
    border: solid;
    border-color: black;
}

.search {
    width: 290px;
    height: 32px;
    margin-left: 300px;
    margin-top: 25px;
    border: solid;
}

#first_box {
    width: 600px;
    height: 290px;
    border: solid;
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 78px;
}

.ninja_header {
    margin-left: 43px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;

}

.noun_first {
    font-size: 25px;
    margin-left: 65px ;
    margin-bottom: 35px;
}

.ninjas_first {
    font-size: 25px;
    margin-left: 35px ;

}

.likes , .more_likes {
    font-size: 25px;
    margin-left: 35px ;
    border: solid;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(255, 240, 35);
    width: 150px;
    height: 40px;
}

.parag_one_inside {
    font-size: 30px;
}


#second_box {
    width: 600px;
    height: 290px;
    border: solid;
    display: flex;
    margin-top: 20px;
    margin-left: 78px;

}

#third_box {
    position: absolute;
    width: 300px;
    height: 150px;
    border: solid;
    margin-left: 750px;
    bottom: 487px;  
}

.add_definition {
    position: absolute;
    background-color: greenyellow;
    width: 180px;
    height: 40px;
    margin-left: 40px;
    bottom:  10px; ;
    box-shadow: 6px 6px 6px black;
    font-size: larger;
}


